<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- <h1 class="text-5xl tricking-tighter text-center text-red-400 underline decoration-orange-300 bg-yellow-200">Mongo App</h1> -->

    <div class=" min-h-screen w-full bg-zinc-500 p-10 text-white">
        <a class="text-blue-500" href="/"> Back to Home</a>
      <h1 class="text-5xl  mt-10 tricking-tighter text-center mb-5 text-white">
        All Users
      </h1>
      <div class="users flex flex-wrap gap-3 ml-20">
     <% if(users.length >0) { %>
      <% users.forEach((user) => {   %>
        <div class="user w-72 p-4 bg-zinc-800 rounded-lg">
          <div class="w-full h-52 rounded-lg bg-red-500">
            <img
              class="w-full h-full object-cover rounded-lg"
              src="<%= user.image %>"
              alt=""
            />
          </div>
          <h3 class="text-xl text-white mt-3 tricking-tighter"><%= user.name %></h3>
          <h3 class="text-zinc-500"><%= user.email %></h3>
          <div class="flex gap-3 mt-10">
            <a class="text-zinc-200" href="/edit/<%= user._id %>">Edit user</a>
            <a class="text-red-500" href="/delete/<%= user._id %>"> Delete user</a>
          </div>
        </div>
        <% }) %>
     <% } else { %>
        <h1 class="text-5xl  mt-10 tricking-tighter text-center mb-5 text-white">
          No Users
        </h1>
     <% } %>
      </div>
    </div>

    <script src="/javascripts/script.js"></script>
  </body>
</html>
